DB_HOST=localhost
DB_PORT=5433
DB_NAME=api
DB_USERNAME=api
DB_PASSWORD=api

CHAT_API_KEY=EMPTY
CHAT_BASE_URL=base_url
CHAT_MODEL_NAME=model_name

EMBEDDING_API_KEY=EMPTY
EMBEDDING_BASE_URL=base_url
EMBEDDING_MODEL_NAME=model_name

API_KEY=12345